@import "../../../styles/global_colours.scss";
@import "../../../styles/mixins.scss";

.container {
 background-color: $primary-blue;
 width: 100%;
 padding: 1.2rem;
 text-align: center;   
 @include text-16-500-white;
 border-radius: 4px;
 border: none;
}
.disabled {
    opacity: 0.6;
}