$primary-black: #131319;
$secondary-black: #27292D;
$ternary-black: #6B6C70;
$quatery-black: #191920;

$primary-gray: #C5C7CA;
$secondary-gray: #7F8084;

$primary-white: #fff;

$border-1: #969696;
$border-2: #35373B;

$primary-blue: #4A96FF;

$primary-red: #AA4A44;