@import "../../styles/global_colours.scss";
@import "../../styles/mixins.scss";

.container {
    border: 1px solid $border-1;
    padding: 4rem;
    background-color: $secondary-black;
    border-radius: 8px;
    width: 46rem;
    height: auto;
}